:root {
  --bg-color: #ebf0f6;
  --font-color: #132238;
  --primary-color: #364e68;
  --secondary-color: #98ccd3;
}

/*rgb(235, 240, 246);
rgb(19, 34, 56)
rgb(54, 78, 104)
rgb(152, 204, 211)

*/
body {
  color: var(--font-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.nav {
  background-color: var(--bg-color);
}
.logo {
  width: 45px;
}
.nav-link {
  color: var(--font-color);
}
.active {
  font-weight: 500;
}
