:root {
  --bg-color: #ebf0f6;
  --font-color: #132238;
  --primary-color: #364e68;
  --secondary-color: #98ccd3;
}

/*rgb(235, 240, 246);
rgb(19, 34, 56)
rgb(54, 78, 104)
rgb(152, 204, 211)

*/
body {
  color: var(--font-color);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
p {
  font-size: 16px;
  line-height: 30px;
}
.hero p {
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
}
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
h1 {
  font-size: 96px;
  line-height: 128px;

  margin-bottom: 24px;
}
h2 {
  font-size: 64px;
  line-height: 85px;
}
h3 {
  font-size: 24px;
  line-height: 36px;
}
.hero,
.about {
  max-width: 1100px;
}
.about {
  padding: 127px 20px;
}
.hello {
  max-width: 700px;
  margin-top: 194px;
}
.body-bg {
  background-color: var(--bg-color);
}
.nav {
  background-color: inherit;
}
.logo {
  width: 50px;
}
.nav-link {
  color: var(--font-color);
}
.nav-link:hover {
  opacity: 0.5;
}
.active-link {
  color: var(--secondary-color);
}
.btn-start {
  padding: 18px 46px;
  background-color: var(--primary-color);
  color: var(--bg-color);
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 270px;
}
.btn-start:hover {
  background-color: var(--secondary-color);
}
.view-app {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  padding: 18px 30px;
  font-size: 16px;
}
.view-app:hover {
  background-color: var(--bg-color);
}
